<div class="btn-group" dropdown [isOpen]="status.isopen">
  <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle>
    Trip Menu <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
    <li role="menuitem"><a class="dropdown-item" href="#">Trip Info</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Members</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Quit</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Support</a></li>
  </ul>
</div>
